<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>      
      <property name="connection.connection_string">Data Source=DATASOURCE;Initial Catalog=DBNAME;Integrated Security=True</property>
      <property name="adonet.batch_size">10</property>
      <property name="show_sql">true</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>      
      <property name="command_timeout">60</property>
	  <!--important: you need to uncomment the line below in order to setup the "ByteCode.LinFu" proxy class generator(note also: there is a built in generator in NHibernate since v3.2)-->
	  <!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>-->	  
    </session-factory>
  </hibernate-configuration>
 
  <appSettings>    
    <!--some .net default settings.-->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />    
    <!--these crendentials can be used to bypass the pre-edit api-key authentication.-->
    <!--acrolinx api user name.-->
    <add key="SaUser" value="" />
    <!--acrolinx api user password.-->
    <add key="SaPassword" value="" />
    <!--bypass accept api authentication(let's say: for local dev environments).-->
    <add key="EnableSa" value="0" />        
    <!--email address displayed in the from field: when inviting users for projects or accept portal registration.-->
    <add key="AcceptPortalEmailFrom" value="noreply@accept-portal.eu" />    
    <!--accept portal redirection url's defaults.-->
    <add key="AcceptPortalRegistrationVerifyUrl" value="http://[ACCEPT-PORTALWEB-SERVERPATH]/Account/Confirmation?code=" />
    <add key="AcceptPortalPasswordRecoveryUrl" value="http://[ACCEPT-PORTALWEB-SERVERPATH]/Account/PasswordRecoveryConfirmation?code=" />    
    <add key="AcceptPortalProjectInvitesUrl" value="http://[ACCEPT-PORTALWEB-SERVERPATH]/en-US/PostEdit/Invitation?code=" />
    <add key="AcceptPortalProjectInvitesUrlFrench" value="http://[ACCEPT-PORTALWEB-SERVERPATH]/fr/PostEdit/Invitation?code=" />
    <add key="AcceptPortalProjectInvitesUrlGerman" value="http://[ACCEPT-PORTALWEB-SERVERPATH]/de/PostEdit/Invitation?code=" />
    <add key="AcceptPortalTaskCompletedUrl" value="http://[ACCEPT-PORTALWEB-SERVERPATH]/Api/v1/PostEdit/DocumentXliff?userId={0}&amp;textId={1}" />
    <!--email body templates.-->
    <add key="TaskCompletedEmailTemplate" value="~/Areas/Api/Models/EmailTemplates/TaskCompleted.html" />
    <add key="TaskCompletedEmailTemplate_fr" value="~/Areas/Api/Models/EmailTemplates/TaskCompleted_fr.html" />
    <add key="TaskCompletedEmailTemplate_de" value="~/Areas/Api/Models/EmailTemplates/TaskCompleted_de.html" />
    <add key="SendConfirmationEmailTemplate" value="~/Areas/Api/Models/EmailTemplates/SendConfirmationEmail.htm" />
    <add key="SendConfirmationEmailTemplate_fr" value="~/Areas/Api/Models/EmailTemplates/SendConfirmationEmail_fr.htm" />
    <add key="SendConfirmationEmailTemplate_de" value="~/Areas/Api/Models/EmailTemplates/SendConfirmationEmail_de.htm" />
    <add key="SendPasswordRecoveryEmailTemplate" value="~/Areas/Api/Models/EmailTemplates/SendConfirmationEmailForPasswordRecovery.htm" />
    <add key="SendPasswordRecoveryEmailTemplate_fr" value="~/Areas/Api/Models/EmailTemplates/SendConfirmationEmailForPasswordRecovery_fr.htm" />
    <add key="SendPasswordRecoveryEmailTemplate_de" value="~/Areas/Api/Models/EmailTemplates/SendConfirmationEmailForPasswordRecovery_de.htm" />
    <add key="SendProjectInvitationEmailTemplate" value="~/Areas/Api/Models/EmailTemplates/SendInvitationEmail.htm" />
    <add key="SendProjectInvitationEmailTemplate_fr" value="~/Areas/Api/Models/EmailTemplates/SendInvitationEmail_fr.htm" />
    <add key="SendProjectInvitationEmailTemplate_de" value="~/Areas/Api/Models/EmailTemplates/SendInvitationEmail_de.htm" />
    <add key="ProjectManagerReportEmailTemplate" value="~/Areas/Api/Models/EmailTemplates/ProjectManagerNotificationEmail.htm" />
    <add key="ProjectManagerReportEmailTemplate_fr" value="~/Areas/Api/Models/EmailTemplates/ProjectManagerNotificationEmail_fr.htm" />
    <add key="ProjectManagerReportEmailTemplate_de" value="~/Areas/Api/Models/EmailTemplates/ProjectManagerNotificationEmail_de.htm" />
    <add key="FeedbackTemplate" value="~/Areas/Api/Models/EmailTemplates/FeedbackEmail.htm" />    
    <!--this path hosts some xml documents, used for cache in memory some acrolinx api responses: containing rules related data.-->
    <add key="AcrolinxDocumentsPath" value="~/Content/Files/Acrolinx/" />
    <!--email where feedback coming from the accept portal feedback form will be forwarded to.-->
    <add key="FeedbackEmailRecipients" value="someone@someplace.something" />
    <!--demo projects default tokens.-->
    <add key="FrenchToEnglishDemoToken" value="85691675" />
    <add key="EnglishToGermanDemoToken" value="8a594421" />
    <add key="EnglishToFrenchDemoToken" value="96e72304" />
    <add key="FrenchToEnglishCollaborativeDemoToken" value="39f72053" />
    <add key="EnglishToGermanCollaborativeDemoToken" value="dbc9ff4d" />
    <add key="EnglishToFrenchCollaborativeDemoToken" value="9ce3131f" />
    <!--acrolinx api endpoint.-->
    <add key="AcrolinxServerUrl" value="" />
    <add key="AcrolinxServerPort" value="80" />
    <add key="AcrolinxServerIdRestPath" value="" />
    <add key="AcrolinxServerCapabilitiesRestPath" value="" />
    <add key="FullAcrolinxServerIdRestPath" value="" />
    <add key="FullAcrolinxServerCapabilitiesRestPath" value="" />
    <add key="FullAcrolinxServerLanguagesPath" value="" />
    <add key="FullAcrolinxUserSelfRegistrationPath" value="" />
    <add key="FullAcrolinxCreateUserPath" value="" />
    <add key="FullAcrolinxAuthenticationTokenPath" value="" />
    <add key="FullAcrolinxSignatureTokenPath" value="" />
    <add key="FullAcrolinxRequestSessionPath" value="" />
    <add key="AcrolinxRequestSessionBody" value="" />
    <add key="AcrolinxCodeNumberPath" value="" />
    <add key="AcrolinxCodeNumberBody" value="" />
    <add key="AcrolinxBeforeFinalResultPath" value="" />
    <add key="AcrolinxFinalResultPath" value="" />
    <!--elmah defaults configuration.-->
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />    
    <!--post editing paraphrasing defaults.-->
    <add key="ParaphrasingEndPoint" value=""/>
    <add key="ParaphrasingDefaultEnglishSystemId" value="symantec"/>
    <add key="ParaphrasingDefaultEnglishLanguage" value="en"/>
    <add key="ParaphrasingDefaultEnglishMaxResults" value="5"/>
    <add key="ParaphrasingDefaultEnglish" value=""/>
    <add key="ParaphrasingDefaultFrenchSystemId" value="symantec"/>
    <add key="ParaphrasingDefaultFrenchLanguage" value="fr"/>
    <add key="ParaphrasingDefaultFrenchMaxResults" value="5"/>
    <add key="ParaphrasingDefaultFrench" value=""/>
    <add key="ParaphrasingTimeout" value="2000" />
    <!--interactive check defaults: namely the rule sets comma separated.-->
    <add key="InteractiveCheckRuleset" value="Postediting-FR-EN,Postediting-EN-FR,Postediting-DE"/>    
    <!--post edit reports defaults for the start post editing phase.-->
    <add key="PostEditReportStartPeTool" value="ACCEPT Portal"/>
    <add key="PostEditReportStartPeToolID" value="ACCEPT Post Edit Plug-in 2.0"/>
    <add key="PostEditReportStartPeMTBaselineProcessName" value="Machine Translation"/>
    <!--db schema operations.-->
    <add key="DbSchemaDrop" value="0"/>
    <add key="DbSchemaCreate" value="0"/>
    <add key="DbSchemaUpdate" value="0"/>
    <!--internal evaluation settings-->
    <add key="EvaluationSendProjectInvitationEmailTemplate" value="~/Areas/Api/Models/EmailTemplates/EvaluationSendInvitationEmail.htm" />
    <add key="EvaluationSendProjectInvitationEmailTemplate_fr" value="~/Areas/Api/Models/EmailTemplates/EvaluationSendInvitationEmail_fr.htm" />
    <add key="EvaluationSendProjectInvitationEmailTemplate_de" value="~/Areas/Api/Models/EmailTemplates/EvaluationSendInvitationEmail_de.htm" />
    <add key="EvaluationProjectManagerReportEmailTemplate" value="~/Areas/Api/Models/EmailTemplates/EvaluationProjectManagerNotificationEmail.htm" />
    <add key="EvaluationProjectManagerReportEmailTemplate_fr" value="~/Areas/Api/Models/EmailTemplates/EvaluationProjectManagerNotificationEmail_fr.htm" />
    <add key="EvaluationProjectManagerReportEmailTemplate_de" value="~/Areas/Api/Models/EmailTemplates/EvaluationProjectManagerNotificationEmail_de.htm" />
    <add key="AcceptPortalProjectInvitesUrlEval" value="http://[ACCEPT-PORTALWEB-SERVERPATH]/en-US/Evaluation/Invitation?code=" />
    <add key="AcceptPortalProjectInvitesUrlFrenchEval" value="http://[ACCEPT-PORTALWEB-SERVERPATH]/fr/Evaluation/Invitation?code=" />
    <add key="AcceptPortalProjectInvitesUrlGermanEval" value="http://[ACCEPT-PORTALWEB-SERVERPATH]/de/Evaluation/Invitation?code=" />    
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@accept-portal.eu">
        <network host="" port="587" userName="" password="" />
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <httpRuntime maxQueryStringLength="2097151" maxRequestLength="2097151" />
    <pages validateRequest="true" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>    
    <!--<customErrors mode="Off"/>-->
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <!--<customHeaders>
       <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type,X-Requested-With"/>    
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS"/>
        <add name="Access-Control-Max-Age" value="1728000"/>
      </customHeaders>-->
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="MvcHttpHandler" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler" />
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <!--<httpErrors errorMode="DetailedLocalOnly"/>-->
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930"  newVersion="1.6.5135.21930"/>
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <legacyHMACWarning enabled="0" />
  </runtime>
  <elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
  </elmah>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost"/>-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
            <add endpoint="https://www.google.com/accounts/o8/ud"/>
          </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
               with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>